:root{
    /*Color*/
    --black: #000000;

    --main-dark: #010101;
    --main-light: #FFFFFF;
    --main-blue: #4F8FF0;

    --accent-grey: #8C8C8C;
    --accent-dark: #222222;
    --accent-light: #F7F7F7;
    --accent-shadow: #21212140;
    --accent-footer: #F8F5F4;
    --accent-border: #8C8C8C;

    --accessory-dark: #2C2C2C;
    --accessory-black: #010101C2;
    --accessory-light: #E6E6E6;
    --accessory-bac: #D9D9D9;
    --accessory-footer: #181818;


    --exra-soll: 12px;
    --smoll-font: 14px;
    --main-form: 16px;
    --list-font: 18px;
    --accent-font: 20px;

    --h1-font: 56px;
    --h2-font: 30px;
    --h3-font: 28px;
    --h4-font: 20px;
    --h5-font: 16px;



    --z-100: 100;
    --z-200: 200;
    --z-300: 300;
}